body { 
	background-color: Black; 
}

img {width: 500px
; height: 550px; text-align: center; display: block; margin: 0 auto 0 auto;}

p {font-family:'IM Fell Double Pica', serif; font-size: 20px; color: white; margin-left: 100px; margin-right:100px; margin-top: 15px;text-align: center;}

h2 {font-family:'IM Fell Double Pica', serif;
padding: 1em; text-align: center ;
color:White; font-size: 20px}
h1 {text-align-last: center; color: DarkGray; font-family: 'Montserrat Subrayada', sans-serif; font-size: 55px}

div {display: flex; flex-flow: wrap;}
span {color: white;  text-align: center; display: block; 
	margin: 0 auto 0 auto; padding-top: 5em;} 

h3 {font-family:'IM Fell Double Pica', serif;
margin-bottom: 5px; text-align: center ;
color:White; font-size: 25px}

figcaption {font-family:'IM Fell Double Pica', serif;
margin-bottom: 40px; text-align: center ;
color:White; font-size: 20px}




